/* Define CSS Variables */

:root {
  --dark-bg: #1f2937;
  --dark-text: #070707;
  --darkest-text: black;
  --hex-text: #2b283a;
  --light-text: white;
  --heading-fs-small: 1.2rem;
  --heading-fs-medium: 1.5rem;
  --heading-fs-large: 2.3rem;
  --text-fs-xx-small: 0.6rem;
  --text-fs-x-small: 0.7rem;
  --text-fs-small: 0.8rem;
  --text-fs-medium: 0.9rem;
  --text-fs-x-large: 1.1rem;
}

/* Global Styles */

* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0.25em;
}

/* Header Main and Container Styles */

header,
main {
  margin: 1em;
}

h1 {
  font-size: var(--heading-fs-small);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Form and Colour Selectors */

form {
  flex-direction: column;
  height: 90px;
  margin-top: 1.5em;
  cursor: pointer;
}

.color-select-container {
  width: 100%;
  margin-bottom: 1em;
  gap: 1em;
  cursor: pointer;
}

input[type="color"] {
  height: 44px;
  width: 42px;
  border: none;
}

input[type="color"],
select {
  border-radius: 10px;
  cursor: pointer;
}

select {
  width: 80%;
  height: 42px;
  border: 1px solid #d1d5db;
  padding-left: 1em;
}

/* Button Styles */

button {
  font-family: inherit;
  text-shadow: 1px 1px black;
  width: 50%;
  height: 42px;
  border-radius: 10px;
  border: none;
  line-height: 16px;
  color: var(--light-text);
  font-size: var(--text-fs-medium);
  font-weight: 700;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
}

.get-color-btn {
  background: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  justify-content: center;
}

.random-color-btn {
  background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  justify-content: center;
}

.button-container {
  gap: 1em;
  width: 100%;
}

/* Colour Scheme Container */

.color-scheme-container {
  position: relative;
  height: 450px;
  padding-bottom: 2em;
  margin-top: 2em;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
}

.color-column {
  flex-direction: column;
  width: 20%;
  height: 100%;
  border: 1px solid transparent;
}

.color-name {
  font-size: var(--text-fs-xx-small);
  font-weight: bold;
  text-align: center;
  justify-content: center;
  background-color: white;
  width: 95%;
  border-radius: 10px;
  height: 40px;
  margin: 1em auto 0;
  opacity: 0.8;
  cursor: pointer;
}

.hex-code {
  position: absolute;
  bottom: 0;
  font-size: var(--text-fs-x-small);
  color: var(----hex-text);
  cursor: pointer;
}

.click-hex-code {
  font-weight: bold;
  transform: scale(1.1);
  color: var(--darkest-text);
  cursor: pointer;
}

/* Footer */

.footer-text {
  font-size: var(--text-fs-xx-small);
  text-align: center;
}

.snackbar {
  position: fixed;
  visibility: hidden;
  border-radius: 10px;
}

.snackbar.show {
  font-size: var(--text-fs-small);
  font-weight: bold;
  color: var(--dark-text);
  visibility: visible;
  background-color: white;
  opacity: 0.8;
  padding: 0.6em;
  text-align: center;
  transform: translateX(-50%);
  bottom: 50%;
  left: 50%;
}

/* Dark Mode Styles */

.dark-mode {
  background-color: var(--dark-bg);
  color: var(--light-text);
}

.dark-mode .get-color-btn {
  background-color: #3d4b60;
}

.dark-mode .mode-selector {
  color: var(--light-text);
  background-color: var(--dark-bg);
}

.dark-mode .hex-code {
  color: var(--light-text);
}

.dark-mode p.color-name,
.dark-mode .snackbar.show {
  color: var(--light-text);
  background-color: black;
  opacity: 0.8;
}

/* Dark / Light Mode Toggle Selector */

label {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background-color: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  top: 1px;
  left: 1px;
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle:checked + label {
  background-color: var(--light-text);
  transition: 0.3s;
}

.toggle:checked + label:after {
  left: 49px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
  transition: 0.3s;
}

/* Hover and Focus States */

button:hover,
button:focus {
  opacity: 0.9;
  transform: scale(1.01);
  transition: ease-in-out;
  text-shadow: 2px 2px black;
}

.color-name:hover,
.dark-mode .color-name:hover,
.color-name:focus,
.dark-mode .color-name:focus {
  opacity: 0.9;
  transform: scale(1.01);
  transition: ease-in-out;
}

.hex-code:hover,
.hex-code:focus {
  font-weight: bold;
  transition: ease-in-out;
}

input[type="color"]:hover,
input[type="color"]:focus {
  transform: scale(1.1);
  transition: ease-in-out;
}

.color-column:hover,
.color-column:focus {
  border: 1px solid white;
  transition: ease-in-out;
}

@media (min-width: 425px) {
  h1 {
    font-size: var(--heading-fs-medium);
  }
  button,
  .mode-selector,
  .color-name,
  .hex-code {
    font-size: var(--text-fs-medium);
  }
  input[type="color"] {
    width: 100px;
  }
  .color-name {
    height: 50px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 1em;
  }
  h1 {
    font-size: var(--heading-fs-large);
  }
  .color-select-container {
    margin-bottom: 0;
  }
  input[type="color"] {
    width: 20%;
  }
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    gap: 1em;
  }
  button {
    font-size: var(--text-fs-x-large);
    padding: 0.5em 1em;
  }
  .color-scheme-container {
    margin-top: 1em;
  }
  .color-name,
  .hex-code,
  .mode-selector {
    font-size: var(--text-fs-x-large);
  }
  .snackbar.show {
    bottom: 40%;
  }
}
